.ficha {
    width: var(--layout-width);
    margin: 30px auto;
    color: var(--black);
    font-size: 14px;
}
@media print {
    .ficha {
        margin-top: 10px;
        margin-bottom: 0;
    }
}
.ficha span {
    line-height: 1.2;
}
.ficha__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
    font-size: 15px;
}
.ficha__header-col-de-emblema {
    flex-direction: column;
    padding: 20px 0;
}
.ficha__emblema {
    margin: auto;
    width: 55px;
    height: 55px;
}
.ficha__box-descricao-de-emblema span {
    display: block;
    text-align: center;
    line-height: 1.4;
    font-weight: 700;
}
.ficha__header__col-de-pnct {
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 23px;
}
.ficha__header__col-de-pnct h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
}
.ficha__moldura-de-logo-de-pnct {
    margin-top: 7px;
    width: 140px;
    height: 55px;
}
.ficha__header__col-de-localizacao {
    display: grid;
    grid-template-rows: 25px repeat(4, 1fr);
}
.ficha__col-de-localizacao__linha {
    padding-left: 4px;
}
.ficha__col-de-localizacao__linha--margin-t {
    margin-top: 6px;
    min-height: 20px;
}
.ficha__col-de-localizacao__linha--border-t {
    border-top: 1px solid var(--cor-de-borda);
    padding-top: 2px;
    margin-top: 10px;
}
.ficha__col-de-localizacao__linha--border-t {
    border-top: 1px solid var(--cor-de-borda);
    padding-top: 2px;
    margin-top: 10px;
}
.ficha__col-de-localizacao__linha input {
    flex: 1;
}
.ficha__header__col-de-titulo {
    grid-column: 1/4;
    padding: 5px 0;
    background-color: var(--black);
    color: var(--yt);
}
.ficha__titulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}
.ficha__seccao__titulo {
    font-size: 14px;
    text-align: center;
    padding: 8px 0;
    text-transform: uppercase;
    background-color: var(--black);
    color: var(--yt);
}
.ficha__seccao__titulo--margin-top {
    margin-top: 6px;
}
.ficha__seccao-1__header {
    display: grid;
    grid-template-columns: 310px 1fr;
    grid-template-areas: ". col-2";
}
.seccao-1__header__col-2 {
    grid-area: col-2;
    display: grid;
    grid-template-rows: 17px 100px;
    background-color: var(--gray-c);
}
.seccao-2__header__linha-com-numeros-das-colunas,
.seccao-1__header__linha-de-indicadores {
    display: grid;
    grid-template-columns: 70px 1fr  repeat(7, 70px);
}
.seccao-1__header__indicador-colunar {
    display: block;
    transform: rotate(-90deg) translate(-45px, 0);
    white-space: nowrap;
    transition-duration: .4s;
}
.seccao-1__header__indicador-colunar--1 {
    transform: rotate(-90deg) translate(-36px, 0);
}
.seccao-1__header__indicador-colunar--2 {
    transform: rotate(-90deg) translate(-20px, 0);
}
.seccao-1__header__indicador-colunar--7, 
.seccao-1__header__indicador-colunar--total {
    transform: rotate(-90deg) translate(-53px, 0);
}
@media screen and (min-width: 1024px) {
    .seccao-1__header__linha-de-indicadores > div:hover span {
        transform: rotate(0deg) scale(1.2);
        box-shadow: 0 0 15px var(--gray-d);
        border-radius: 5px;
        background-color: var(--yt);
        padding: 5px;
        position: absolute;
        z-index: 20;
    }
}
.grid-template-cols-10 {
    display: grid;
    grid-template-columns: 310px 70px 119px repeat(7, 70px);
    grid-template-rows: 28px;
}
.grid-template-cols-10 span {
    padding-left: 4px;
}
.--border-b-gray-thicker {
    border-bottom: 8px solid var(--gray)
}
.ficha__seccao-2__grid-template-cols-2 {
    display: grid;
    grid-template-columns: calc(310px + 70px + 119px + 70px/3) 1fr;
    grid-column-gap: 20px;
}
.seccao-2__grid-template-cols-2__col {
    display: grid;
    grid-template-rows: 28px repeat(2, 40px) repeat(4, 48px) 52px;
}
.seccao-2__grid-template-cols-2__col span {
    padding-left: 4px;
}
.ficha__seccao-2__linha-de-indicador-e-seu-input {
    display: grid;
    grid-template-columns: 1fr 70px;
}
.ficha__seccao--obs {
    margin: 8px 0;
    padding-left: 4px;
    min-height: 74px;
}
.ficha__input-obs {
    width: 890px;
}
.ficha__input-obs--1,
.ficha__input-obs--2 {
    display: block;
    width: 975px;
    margin: 8px 0;
}
.ficha__rodape {
    padding: 0 4px;
    min-height: 71px;
    display: grid;
    grid-template-columns: 680px 1fr;
    align-items: center;
}
.ficha__rodape__col-de-nome {
    min-height: 22px;
}
.ficha__rodape__campo-de-nome,
.ficha__rodape__col-de-categoria {
    min-height: 18px;
}
.ficha__rodape input {
    font-size: 12px;
}
.ficha__rodape__campo-de-nome {
    width: 420px;
}
.ficha__rodape__campo-de-categoria {
    width: 225px;
}
/* CLASSES REUTILIZÁVEIS */
.celula-nao-aplicavel {
    background-color: var(--gray-a);
}
.--cor-de-fundo-padrao {
    background-color: var(--gray-c);
}
.--cor-de-fundo-padrao--discreta {
    background-color: var(--gray-light);
}
[data-totaleixox]:focus,
.ficha__seccao--2 input:focus,
.input-nao-celular:focus,
.ficha__input-obs:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}
.input--font-small {
    font-size: 13.5px
}