a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    cursor: default;
}
aside,details,display-role article,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
html {
    scroll-behavior: smooth
}
body {
    line-height: 1;
}
ol,ul {
    list-style: none
}
blockquote,q {
    quotes: none
}
abbr {
    text-decoration: none;
}
strong {
    font-weight: 700;
}
blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
input,textarea {
    border: none;
    border-radius: 0;
    outline: 0;
    color: var(--cor-de-texto);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--input-font-size);
    cursor: text;
}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}
input[readonly] {
    font-weight: 700;
    cursor: default;
    transition: background-color .4s ease-out
}
input[type=number] {
    appearance: textfield;
    text-align: center;
    padding: 1px;
}
input[type=checkbox] {
    cursor: pointer;
}
button {
    border: none;
    outline: 0;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: var(--cor-de-link)
}
a:hover {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
}
::selection {
    background-color: var(--black);
    color: var(--yt);
}